<a href="https://colab.research.google.com/github/chongmong/python/blob/chongmong-patch-1/py_bban.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CH1 파이썬 문법**

## 자료형
#### 숫자형
* 정수 : 123, -20, 0  
* 실수 : 123.45, -4321.5, 6.08e9  
* 8진수 : 0o456, 0o123  
* 16진수 : 0xFF, 0x00, 0x0A

In [ ]:
a = 10
b = 20
c = a + b
d = b -a
print(c,d)

30 10

In [ ]:
a = 10
b = 3
# 나눗셈
c = a/b #나눗셈
d = a//b #몫  
e = a%b #나머지 
# 곱셈
f = a*b
g = a**b #제곱
print(c,d,e,f,g)

3.3333333333333335 3 1 30 1000

#### 변수
* 문자 또는 밑줄로 시작(beta, _kim)
* 대소문자를 구분한다.(sum, Sum, SUM)
* 영문자, 숫자, 밑줄(a-z. 0-9, _)
* 파이썬 키워드는 사용 불가

#### 문자열
1. 큰 따옴표 : "Hello World! 
it's"
2. 작은 따옴표 : '대한민국'  
3. 큰 따옴표 3 : """Hello World!"""
4. 작은 따옴표 3 : ''' Lifeis too short, You need python'''

In [ ]:
myName = "Dongmin Son" #카멜
my_name = "손동민" # 스네이크
MyName = "kiki" # 파스칼
_myname = "korea"
MYNAME = "God is love"
my2name = "12345"
# 2myname = '9876'
# my-name = "michle"
# my name = "kiki"
myStr = '123' #str
myNum = 123 # int

print(myStr, + myNum)
print(type(myStr))
print(type(myNum))

123 123
<class 'str'>
<class 'int'>

#### 여러개 변수 할당

In [ ]:
x, y, z = "포도", "딸기", "수박"
print(x)
print(y)
print(z)

포도
딸기
수박

In [ ]:
a = b = c = "오렌지"
print(a)
print(b)
print(c)

오렌지
오렌지
오렌지

In [ ]:
fruits = ["포도", "딸기", "수박"]
x,y,z = fruits
print(x)
print(y)
print(z)

포도
딸기
수박

In [ ]:
x = "Life"
y = "is"
z = "Beautiful"
print(x,y,z)
print(x+y+z)

Life is Beautiful
LifeisBeautiful

In [ ]:
a = 1
b = 2
c = 3
print(a,b,c)
print(a+b+c)

1 2 3
6

#### 데이터 유형
+ 텍스트
+ 숫자
+ 불(bool)

In [ ]:
a = 15
b = 4
sum = a+b
dis = a-b
xon = a*b
xis = a**b
nan = a/b
nin = a//b
nun = a%b

print('더하기',a, '+', b, '=', sum)
print('빼기',a, '-', b, '=', dis)
print('곱하기',a, 'x', b, '=', xon)
print('제곱',a, 'xx', b, '=', xis)
print('나누기',a, '/', b, '=', nan)
print('몫',a, '//', b, '=', nin)
print('나머지',a, '%', b, '=', nun)

더하기 15 + 4 = 19
빼기 15 - 4 = 11
곱하기 15 x 4 = 60
제곱 15 xx 4 = 50625
나누기 15 / 4 = 3.75
몫 15 // 4 = 3
나머지 15 % 4 = 3

#### input() 함수 이용한 계산기

In [ ]:
a = int(input("첫번째 숫자를 입력해주세요:"))
b = int(input("두번쨰 숫자를 입력해주세요:"))
result = a + b
print(a, '+',b, '=', result)
result = a - b
print(a, '-',b, '=', result)
result = a * b
print(a, '*',b, '=', result)
result = a ** b
print(a, '**',b, '=', result)
result = a / b
print(a, '/',b, '=', result)
result = a // b
print(a, '//',b, '=', result)
result = a % b
print(a, '%',b, '=', result)
# 제곱, 몫, 나머지

첫번째 숫자를 입력해주세요:8
두번쨰 숫자를 입력해주세요:3
8 + 3 = 11
8 - 3 = 5
8 * 3 = 24
8 ** 3 = 512
8 / 3 = 2.6666666666666665
8 // 3 = 2
8 % 3 = 2

In [ ]:
num1 = input("숫자입력1:  ")
num2 = input("숫자입력2:  ")
result = num1 + num2
print(type(num1))
print(num1, '+', num2, '=', result)

숫자입력1:  dkssud
숫자입력2:  gktpdy
<class 'str'>
dkssud + gktpdy = dkssudgktpdy

##퀴즈 1 전화번호와 이름, 무게를 입력받아 출력하시오

In [ ]:
nw = input("전화번호를 입력하세요:  ")
ne = input("이름을 입력하세요:  ")
nf = int(input("무게를 입력하세요: "))
a = nw
b = ne
c = nf*10
print('입력한 내용은 이름:',nw )
print('전화번호:',ne )
print('산출된 값:',c)

전화번호를 입력하세요:  01022468698
이름을 입력하세요:  손동민
무게를 입력하세요: 80
입력한 내용은 이름: 01022468698
전화번호: 손동민
산출된 값: 800

#2. print() 서식 출력

In [ ]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%s" % "대한민국")
print("%6s" % "대한민국")

123
  123
00123
123.450000
  123.5
123.450
대한민국
  대한민국

#### format 함수 : 순서 지정 가능

In [ ]:
print("{0:d} {1:5d} {2:05d}".format(123,456,789))

123   456 00789

In [ ]:
print("{2:d} {1:5d} {0:05d}".format(123,456,789))

789   456 00123

#### 서식 출력

In [ ]:
print("\n줄바꿈\n연습입니다.")

줄바꿈
연습입니다.

In [ ]:
print("\t탭키\t연습")

	탭키	연습

In [ ]:
print("글자가 \"강조\"되는 효과1")
print("글자가 \'강조\'되는 효과1")
print("역슬레시 3개출력 \\\\\\")
print(r"\n \t \" \\ \' @를 그대로 출력") #그대로 출력됨

글자가 "강조"되는 효과1
글자가 '강조'되는 효과1
역슬레시 3개출력 \\\
\n \t \" \\ \' @를 그대로 출력

#### 관계 연산자

In [ ]:
a,b = 10,20
print(a==b, a!=b, a>b, a<b, a>=b, a<=b)

False True False True False True

In [ ]:
a = 99
print((a>100) and (a<200))
print((a>100) or (a<200))
print(not(a==100))

False
True
True

In [ ]:
if(123):
  print("참이면 보입니다.")
if(0):
  print("거짓이면 안 보입니다")

참이면 보입니다.

### 퀴즈2 숫자 입력을 받아 동전으로 바꿔주는 프로그램(500원, 100원, 50원, 10원)

In [ ]:
#변수
bill, c500, c100, c50, c10 = 0,0,0,0,0

bill = int(input("숫자를 입력하세요 : "))
c500 = bill // 500
bill %= 500 # bill = bill % 500
c100 = bill // 100
bill %= 100
c50 = bill // 50
bill %= 50
c10 = bill // 10
bill %= 10
print("500원 %d개" % c500)
print("100원 %d개" % c100)
print("50원 %d개" % c50)
print("10원 %d개" % c10)
print("잔돈 %d개" % bill)

숫자를 입력하세요 : 5043
500원 10개
100원 0개
50원 0개
10원 4개
잔돈 3개

## 조건문

In [ ]:
a = 200
if(a<100):
  print("100보다 작다")
else :
  print("100보다 크다")
print("프로그램 끝")

100보다 크다
프로그램 끝

In [ ]:
# 홀짝 구분
a = int(input("정수를 입력하세요 : "))
if(a % 2== 0):
  print("짝수")
else :
  print("홀수")

정수를 입력하세요 : 8
짝수

In [ ]:
a = 110
if(a > 50):
  if(a < 100):
    print("50 < a < 100")
  else:
    print("a > 100")
else:
  print("a < 50")

a > 100

In [ ]:
fruit = ['사과','배','감','포도']
fruit.append('딸기')
if '딸기' in fruit: #if '딸기' not in fruit:
  print("딸기가 있습니다")
print(fruit)

딸기가 없습니다
['사과', '배', '감', '포도', '딸기']

In [ ]:
import random
number = []
for num in range(0,7):
  number.append(random.randrange(0,46))
print("생성된 리스트", number)

생성된 리스트 [14, 23, 41, 19, 32, 8, 12]

## 반복문

In [ ]:
for i in range(0,3,1): # 시작값, 끝값+1,증가값
  print("%d 안녕하세요~" % i)
print("반갑습니다")

0 안녕하세요~
1 안녕하세요~
2 안녕하세요~
반갑습니다

In [ ]:
for i in range(1,9,1):
  print("%d" % i, end=" ")
print("\n")
for i in range(1,9,1):
  print("%d" % i, end=" ")

1 2 3 4 5 6 7 8

1 2 3 4 5 6 7 8

In [ ]:
sum=0
for i in range(1,11,1):
  sum = sum + i
print("1~10까지 합 : %d" % sum)

1~10까지 합 : 55

#### 퀴즈3 : 숫자 입력을 받아 1부터 입력된 숫자까지의 합을 for문을 활용하여 출력하시오

In [ ]:
sum=0
a = int(input("값을 입력하시오 : "))
for i in range(1,a+1,1):
  sum = sum + i
print("1~n 까지의 합 : %d" % sum)

값을 입력하시오 : 10
1~n 까지의 합 : 55

#### 중첩 for문

# 퀴즈 구구단을 2,3,4,5 출력 후 줄 바꿔서 출력하시오.

In [ ]:
i,j=0,0
for i in range(1,10,1):
  for j in range(2,6,1):
     print("%d x %d = %2d" % (j,i,i*j), end='\t')
  print("")
print("\n")
for i in range(1,10,1):
  for j in range(6,10,1):
     print("%d x %d = %2d" % (j, i, i*j), end='\t')
  print("")

2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45


6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

#CH3. 자료형  
## 1. 인덱스와 슬라이싱

## 리스트는 대괄호로 정의  
index는 0부터 시작함  
1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
print(1[0])  
1  
시험 출제 예정  
print(1[0:4])
[1, 2, 3, 4]

In [2]:
L=[0,1,2,3,4,5,6,7,8,9,10]
print(L[1])
print(L[0:4]) #미만으로 출력된다.
print(L[0:9:3]) #9까지의 값을 0부터 +3해서 출력

1
[0, 1, 2, 3]
[0, 3, 6]

In [ ]:
L=[0,1,2,3,4,5,6,7,8,9,10]
print(len(L))
print(L[len(L)-1])

11
10

In [ ]:
L=[0,1,2,3,4,5,6,7,8,9,10]
L[0]=99
L[9]='가나다'
L[1]=[1,2,3]
print(L)
print(L[9])

[99, [1, 2, 3], 2, 3, 4, 5, 6, 7, 8, '가나다', 10]
가나다

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(a+b)
print(c)
print(a*3) #를 3번 출력

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
L=[1,2,3,4,5]
print(L)
L.append(6) #L에 6을 추가하라는 명령어 append로 추가할 시 리스트의 마지막에 추가됨
print(L)
L.remove(3) # 해당 요소값을 삭제하는 명령어
print(L)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [ ]:
k=['a','b','c','d']
k.remove('d')
print(k)

['a', 'b', 'c']

In [ ]:
k="Guns Germs and Steel!"
print(k[:3])
print(k[5:])
print(k[-10:-1])

Gun
Germs and Steel!
and Steel

In [ ]:
k=" God is love!"
print(k.upper()) # 대문자
print(k.lower()) # 소문자
print(k.strip()) # 띄어쓰기 공간 제거

 GOD IS LOVE!
 god is love!
God is love!

In [ ]:
a=" God, is, love!"
print(a.split(",")) # 구분

[' God', ' is', ' love!']

In [ ]:
a=["apple","banana","cherry"]
a.append("orange")
print(a)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
a =["apple","banana","cherry"]
a.insert(1,"orange") #.insert:지정된 곳에 요소값 삽입
print(a)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
a =["apple","banana","cherry"]
a.remove("banana") # .remove:지정한 요소값 삭제
print(a)

['apple', 'cherry']

In [ ]:
a =["apple","banana","cherry"]
a.pop() # .pop은 지정없이 적용하면 마지막 요소값이 제거됨
print(a)
a.pop(1) # 지정한 위치인 banana가 사라짐
print(a)

['apple', 'banana']
['apple']

In [ ]:
a =["apple","banana","cherry"]
del a[0] #지정 삭제 del a 는 전제 삭제
print(a)
a.clear() #del a
print(a)

['banana', 'cherry']
[]

In [ ]:
fruit=["apple","banana","cherry"]
for x in fruit:
  print(x)

apple
banana
cherry

In [ ]:
fruit=["apple","banana","cherry"]
for i in range(len(fruit)):
  print(fruit)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

#### SORT

In [ ]:
a=[5,3,6,8,1,9,0]
a.sort() # 순서대로 정렬
print(a)

[0, 1, 3, 5, 6, 8, 9]

In [ ]:
a=[5,3,6,8,1,9,0,2,4,7]
a.sort(reverse=True) # 역정렬
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
fruit=["apple","banana","Kiwi","cherry","orange"]
fruit.sort() # 대소문자 구분하여 정렬
print(fruit)
fruit.sort(key=str.lower) # 대소문자 구분 없이 정렬
print(fruit)
fruit.reverse()
print(fruit) #역정렬

['Kiwi', 'apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'Kiwi', 'orange']
['orange', 'Kiwi', 'cherry', 'banana', 'apple']

In [ ]:
fruit=["apple","banana","Kiwi","cherry","orange"]
myList=fruit.copy()
print(myList)
cpList=list(fruit)
print(cpList)

['apple', 'banana', 'Kiwi', 'cherry', 'orange']
['apple', 'banana', 'Kiwi', 'cherry', 'orange']

## 튜플 자료형 Tuple   
리스트와 비슷하지만 값을 변경할 수 없음  
(시험 출제 예정)

In [ ]:
l=[1,2,3]
t=(4,5,6) #튜플은 ()를 사용한다. (시험 출제가능성 높음)
l[0]=5
print(l)
print(t)

[5, 2, 3]
(4, 5, 6)

In [ ]:
t=("apple",) # 1가지 함수를 튜플로 인식시키기 위해서는 ,가 있어야 한다.
print(t)
f=("banana") # ,를 넣지 않았기에 튜플로 인식이 되지 않음
print(f)
print(type(t))
print(type(f))

('apple',)
banana
<class 'tuple'>
<class 'str'>

In [ ]:
f=("apple","banana","Kiwi","cherry","orange")
print(f[:4])
print(f[2:])

('apple', 'banana', 'Kiwi', 'cherry')
('Kiwi', 'cherry', 'orange')

In [ ]:
f=("apple","banana","Kiwi","cherry","Orange")
if "apple" in f:
  print("Yes, 'apple' is in")
else:
  print("No")

Yes, 'apple' is in

####list<->tuple

In [ ]:
firm=['Samsung','LG','SK']
tdata=tuple(firm)
print(firm)
print(tdata)

['Samsung', 'LG', 'SK']
('Samsung', 'LG', 'SK')

In [ ]:
t=("apple","banana","Kiwi","cherry")
y=list(t) 
y.append("Orange")
t=tuple(y) # 튜플을 list로 바꾼다음 Orange를 넣고 다시 튜플로 변환함(시험출제 가능성 높음)
print(t)

In [ ]:
t=("apple","banana","cherry")
q=("kiwi",)
t += q
print(t)

In [ ]:
t=("apple","banana","Kiwi","cherry")
l=list(t)
l.remove("Kiwi")
t=tuple(l)
print(t)
del t # 튜플도 삭제 자체는 가능하다.
# print t

#### 사전(Dict) 자료형  
키값을 사용하고 중괄호{}를 사용한다.

In [ ]:
d={
    'a':1,
    'b':2,
    'c':3
}
print(d)
print(d.keys())
print(d.values())
print(d.items())

In [ ]:
car={
    "brand":"BM",
    "model":"GT",
    "year" :"1988"
}
print(car)
print(len(car))
car["year"]=2000
car["item"]=123456
car.update({"color":"red"})
print(car)

In [ ]:
# 항목 제거
car={
    "brand":"BM",
    "model":"GT",
    "year" :"1988"
}
car.pop("model")
print(car)

In [ ]:
car={
    "brand":"BM",
    "model":"GT",
    "year" :"1988"
}
car.popitem()
print(car)

In [ ]:
car={
    "brand":"BM",
    "model":"GT",
    "year" :"1988"
}
car.clear() # 비움
del car # 삭제

#### LOOP

In [ ]:
# 값을 하나씩 인쇄
car={
    "brand":"BM",
    "model":"GT",
    "year" :1988
}
for x in car:
  print(car[x])

In [ ]:
car={
    "brand":"BM",
    "model":"GT",
    "year" :1988
}
for x in car.keys():
  print(x)

In [ ]:
car={
    "brand":"BM",
    "model":"GT",
    "year" :1988
}
for x in car.values():
  print(x)

In [ ]:
car={
    "brand":"BM",
    "model":"GT",
    "year" :1988
}
for x,y in car.items():
  print(x,y)

In [ ]:
car={
    "brand":"BM",
    "model":"GT",
    "year" :1988
}
myCar=car.copy()
print(myCar)

In [ ]:
car={
    "brand":"BM",
    "model":"GT",
    "year" :1988
}
myCar=dict(car)
print(myCar)

In [ ]:
name1={"name":"놀부","year":2001}
name2={"name":"흥부","year":2010}
name3={"name":"제비","year":2015}
story={
    "name1":name1,
    "name2":name2,
    "name3":name3
}
print(story)