<a href="https://colab.research.google.com/github/chongmong/python/blob/main/py_bban.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CH1 파이썬 문법**

## 자료형
#### 숫자형
* 정수 : 123, -20, 0  
* 실수 : 123.45, -4321.5, 6.08e9  
* 8진수 : 0o456, 0o123  
* 16진수 : 0xFF, 0x00, 0x0A

In [ ]:
a = 10
b = 20
c = a + b
d = b -a
print(c,d)

30 10

In [ ]:
a = 10
b = 3
# 나눗셈
c = a/b #나눗셈
d = a//b #몫  
e = a%b #나머지 
# 곱셈
f = a*b
g = a**b #제곱
print(c,d,e,f,g)

3.3333333333333335 3 1 30 1000

#### 변수
* 문자 또는 밑줄로 시작(beta, _kim)
* 대소문자를 구분한다.(sum, Sum, SUM)
* 영문자, 숫자, 밑줄(a-z. 0-9, _)
* 파이썬 키워드는 사용 불가

#### 문자열
1. 큰 따옴표 : "Hello World! 
it's"
2. 작은 따옴표 : '대한민국'  
3. 큰 따옴표 3 : """Hello World!"""
4. 작은 따옴표 3 : ''' Lifeis too short, You need python'''

In [ ]:
myName = "Dongmin Son" #카멜
my_name = "손동민" # 스네이크
MyName = "kiki" # 파스칼
_myname = "korea"
MYNAME = "God is love"
my2name = "12345"
# 2myname = '9876'
# my-name = "michle"
# my name = "kiki"
myStr = '123' #str
myNum = 123 # int

print(myStr, + myNum)
print(type(myStr))
print(type(myNum))

123 123
<class 'str'>
<class 'int'>

#### 여러개 변수 할당

In [ ]:
x, y, z = "포도", "딸기", "수박"
print(x)
print(y)
print(z)

포도
딸기
수박

In [ ]:
a = b = c = "오렌지"
print(a)
print(b)
print(c)

오렌지
오렌지
오렌지

In [ ]:
fruits = ["포도", "딸기", "수박"]
x,y,z = fruits
print(x)
print(y)
print(z)

포도
딸기
수박

In [ ]:
x = "Life"
y = "is"
z = "Beautiful"
print(x,y,z)
print(x+y+z)

Life is Beautiful
LifeisBeautiful

In [ ]:
a = 1
b = 2
c = 3
print(a,b,c)
print(a+b+c)

1 2 3
6

#### 데이터 유형
+ 텍스트
+ 숫자
+ 불(bool)

In [ ]:
a = 15
b = 4
sum = a+b
dis = a-b
xon = a*b
xis = a**b
nan = a/b
nin = a//b
nun = a%b

print('더하기',a, '+', b, '=', sum)
print('빼기',a, '-', b, '=', dis)
print('곱하기',a, 'x', b, '=', xon)
print('제곱',a, 'xx', b, '=', xis)
print('나누기',a, '/', b, '=', nan)
print('몫',a, '//', b, '=', nin)
print('나머지',a, '%', b, '=', nun)

더하기 15 + 4 = 19
빼기 15 - 4 = 11
곱하기 15 x 4 = 60
제곱 15 xx 4 = 50625
나누기 15 / 4 = 3.75
몫 15 // 4 = 3
나머지 15 % 4 = 3

#### input() 함수 이용한 계산기

In [ ]:
a = int(input("첫번째 숫자를 입력해주세요:"))
b = int(input("두번쨰 숫자를 입력해주세요:"))
result = a + b
print(a, '+',b, '=', result)
result = a - b
print(a, '-',b, '=', result)
result = a * b
print(a, '*',b, '=', result)
result = a ** b
print(a, '**',b, '=', result)
result = a / b
print(a, '/',b, '=', result)
result = a // b
print(a, '//',b, '=', result)
result = a % b
print(a, '%',b, '=', result)
# 제곱, 몫, 나머지

첫번째 숫자를 입력해주세요:8
두번쨰 숫자를 입력해주세요:3
8 + 3 = 11
8 - 3 = 5
8 * 3 = 24
8 ** 3 = 512
8 / 3 = 2.6666666666666665
8 // 3 = 2
8 % 3 = 2

In [ ]:
num1 = input("숫자입력1:  ")
num2 = input("숫자입력2:  ")
result = num1 + num2
print(type(num1))
print(num1, '+', num2, '=', result)

숫자입력1:  dkssud
숫자입력2:  gktpdy
<class 'str'>
dkssud + gktpdy = dkssudgktpdy

In [1]:
nw = input("전화번호를 입력하세요:  ")
ne = input("이름을 입력하세요:  ")
nf = int(input("무게를 입력하세요: "))
a = nw
b = ne
c = nf*10
print('입력한 내용은 이름:',nw )
print('전화번호:',ne )
print('산출된 값:',c)

전화번호를 입력하세요:  01022468698
이름을 입력하세요:  손동민
무게를 입력하세요: 80
입력한 내용은 이름: 01022468698
전화번호: 손동민
산출된 값: 800